* {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

html,
  body {
    background: var(--about-color);
      }

body {
    margin: 0;
    padding: 0;
    /* background-image: var(--image-change); */
    background-image: none;
    /* background-color: var(--newtest-color); */
    /* background-color: var(--about-color); */
    /* background-color: var(--about-color); */
    background-size: cover;
    background-position: 40% 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

.prep-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    width: 100%;
    /* background-color: aliceblue; */
}

.prep-3 {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 79%;
    width: 79vw;
    flex-wrap: wrap;
}

.menu-3{
width: 100%;
display: flex;
overflow-x:scroll;
border-radius: 8px;
/* background-color: rgba(1, 1, 1, 0.552); */
background-color: rgba(255, 255, 255, 0.13);
margin: 10px;
gap: 10px;
padding: 10px;
/* height: 15vh; */
/* overflow-x: scroll; */
justify-content: center;
align-items: center;
/* flex-wrap: wrap; */
/* padding-left: 300px; */
}

.menu-3::-webkit-scrollbar {
    display: none;
}

.menu-3 a {
    text-decoration: none;
    color: black;
}

.menu-button {
font-size: 1.2rem;
font-weight: 520;
display: flex;
background-color: #c7c7c7f4;
background-color: #fffffff4;

border-radius: 50%;
height: 100px;
width: 100px;
justify-content: center;
align-items: center;
box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.menu-button:hover {
    background-color: orange;
    transform: translateY(-5px);
}

.menu-3 a:focus {
    color: aqua;
}

.menu-holder {
    width: 98%;
}


.folder-3{
    /* background-color: greenyellow; */
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    width: fit-content;
    margin: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* justify-content: center; */
    align-items: center;
}

.folder-3 button {
    width: 90%;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 520;
    border-radius: 7px;
    border: none;
}

.folder-3 button:hover {
    background-color: rgb(255, 147, 7);
}

button a{
    text-decoration: none;
    color: black;
}

.folder-vid-3 {
    border-radius: 10p;
    background-color: rgba(255, 255, 255, 0.13);
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    width: 70%;
    height: 71%;
    /* justify-content: center; */
    align-items:center ;
    /* width: fit-content; */
    overflow-y: scroll;
    margin: 10px;
    border-radius: 8px;
    /* sc */
    /* gap: 200px;    */
}

.folder-vid-3 p {
    padding: 10px;
}   

.folder-vid-3 video {
    height: 150px;
}

.folder-vid-3::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1104px) {
    .menu-3 {
        /* padding-left: 15%; */
        justify-content: flex-start;
        width: 100%;
        overflow-y: hidden;
    }
    .prep-3{
        display: inline;
        height: 85vh;
        width: 100%;
        /* justify-content: space-around; */
        /* height: fit-content; */
    }
    .menu-holder{
        width: 98%;
    }
    /* .menu-3 {
        height: 150px;
        margin-bottom: 0;
    display: flex;
    } */
    .folder-3 {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        /* height: 250px; */
        height: fit-content;
        width: 98%;

    }

    .folder-vid-3 {
        border-radius: 8px;
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 0s;
        width: 98%;
        /* height: 160px; */
        height: 63%;
        /* background-color: red; */
    }

    .folder-vid-3 h2 {
        margin: 4px;
    }
    
    .folder-vid-3 p {
        margin: 0 2px;
    }
    .folder-3 h1 {
        /* font-size: 20px; */
        margin: 2px;
    }
    
    .folder-3 button{
        width: 50%;
    }

  }

  @media (max-width: 650px) {

    
    .prep-3{
        height: 80vh;
        width: 100%;
        /* justify-content: space-around; */
        /* height: fit-content; */
    }

    .menu-holder{
        width: 100%;
    }
    .menu-3 {
        width: 96%;
        height: 150px;
        margin-bottom: 0;
        display: flex;
        border-radius: 8px 8px 0 0;
    }

    .folder-3 {
        /* flex-wrap: wrap; */
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        /* height: 250px; */
        /* background: lightseagreen; */
        width: 96%;
        border-radius: 0;

    }
    .folder-3 h1 {
        display: none;
    }
    .folder-vid-3 {
        border-radius: 0 0 8px 8px;
        /* margin: 8px; */
        margin-top: 0;
        margin-bottom: 0s;
        width: 96%;
        height: 21rem;
        /* background-color: red; */
    }

    .folder-vid-3 h2 {
        margin: 4px;
    }
    
    .folder-vid-3 p {
        margin: 0 2px;
    }
    .folder-3 h1 {
        /* font-size: 20px; */
        margin: 2px;
    }
    
    .folder-3 button{
        width: 50%;
    }
    

}