
.holder {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body {
    background-position: 150px -99%;
}

#cs4Table {
    display: none;
}

#cs3Table {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0 ;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
    background: rgba(32, 32, 32, .8);
    /* backdrop-filter: blur(15px); */
    color: #dddddd;
    text-align: center;
    font-family: sans-serif;
    outline: 0;
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 20px solid #01579b;

  }

  th,tr,td {
    padding: 10px 15px;
    border: none;
    backdrop-filter: blur(.2px);
  }
  
  th {
    background-color: #01579b;
    color: #fafafa;
    text-transform: uppercase;
  }
  
  tbody {
    /* border-bottom: 20px solid #01579b; */
  }  
  td:nth-of-type(2) {
    display: none;
}
th:nth-of-type(2) {
    display: none;
}

.temperror_2 {
  color: white;
}

.temperror_2 a {
  color: yellow;
}

@media (max-width: 650px) {

  /* table {
    overflow-y: scroll;
    height: 70vh;
  } */

  table::-webkit-scrollbar {
    display: none;
  }
/* 
  table td{
    font-size: 0.9em;
    z-index: 2;
  }
   thead th{
    position: sticky;
    top: 0;
    z-index: 4;
   } */
  

   #cs3Table thead th, #cs4Table thead th{
    position: sticky;
    top: 0;
   }
   #cs3Table, #cs4Table {
    overflow-y: auto;
    height: 70vh;
   }
   
}